*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color1: #020540;
  --color2: #32508c;
  --color3: #048abf;
  --color4: #f2f2f2;
  --color5: #d90416;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Serif", sans-serif;
  background-color: var(--color1);
}

input,
button,
select,
label {
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 3rem;
  padding: 0.7rem;
  font-weight: bold;
  color: var(--color3);
  transition: transform 0.3s ease-in-out;
}

/* Modal */

.modal {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 380px;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
  background-color: var(--color4);
  color: var(--color1);
  border: var(--color3);
  border-radius: 10px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.error-msg {
  display: none;
  position: absolute;
  width: 330px;
  top: -1rem;
  font-weight: bold;
  text-align: center;
  color: var(--color5);
}

.error-msg.active {
  display: block;
}

form {
  height: 80%;
  padding: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

form > * {
  flex-basis: 70%;
}

input,
select {
  font-size: 1.25rem;
  padding: 8px;
  border: none;
  cursor: text;
}

select {
  flex-basis: 100%;
  text-align: center;
  cursor: pointer;
}

.checkbox {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.2s ease-in-out;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

/* Main content */

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 83% 7%;
}

header {
  padding-left: 1.5rem;
  width: 100%;
  display: flex;
  background-color: var(--color3);
  color: var(--color1);
  box-shadow: 1px 1px 5px var(--color2);
}

.main-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  padding: 1.5rem;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: var(--color3);
  text-align: center;
  text-shadow: 1px 1px 3px var(--color2);
}

.books-grid {
  flex-basis: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  row-gap: 6rem;
}
.book-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 250px;
  height: 330px;
  padding: 10px;
  line-height: 1.2;
  font-size: 1.5rem;
  word-wrap: break-word;
  overflow: hidden;
  color: var(--color4);
  background-color: var(--color2);
  border-left: 0.2px solid var(--color1);
  border-top: 0.2px solid var(--color1);
  border-radius: 3px;
  text-shadow: 2px 2px 2px var(--color1);
  box-shadow: 1px 1px 2px white, 2px 2px 2px black, 3px 3px 2px white,
    4px 4px 2px black, 5px 5px 2px white, 6px 6px 2px black, 7px 7px 2px white,
    8px 8px 2px black, 9px 9px var(--color2), 10px 10px var(--color2);
}
.book-card * {
  flex-basis: 100%;
  text-align: center;
}

.status {
  position: absolute;
  font-size: 0.9rem;
  height: 5%;
  bottom: 6px;
  color: rgb(179, 37, 32);
}

.status.read {
  color: rgb(37, 133, 37);
}

/* buttons */

.add-btn {
  flex-basis: 100%;
  text-align: center;
}

.add-btn button:hover {
  transform: scale(1.1);
  color: var(--color4);
}

.del {
  font-size: 0.7rem;
  color: var(--color4);
  position: absolute;
  top: 5px;
  right: 5px;
}
.add-btn button:active,
.del:active {
  transform: scale(0.9);
}

.del:hover,
#close-btn:hover {
  color: red;
}

#close-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 1.5rem;
  color: var(--color1);
}

#submit {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color1);
  transition: 0.2s ease-in-out;
}

#submit:hover {
  transform: scale(1.1);
  color: var(--color3);
}

/* footer */
footer {
  width: 100%;
  text-align: center;
  box-shadow: -2px -2px 5px var(--color2);
  padding: 1rem;
  background-color: var(--color3);
}

.fa-github {
  color: black;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotateY(1turn) scale(1.2);
}

@media (max-width: 750px) {
  header {
    font-size: 1rem;
    justify-content: center;
  }
  .welcome {
    font-size: 1.25rem;
  }

  .books-grid {
    grid-template-columns: 1fr;
  }

  button {
    font-size: 2rem;
  }

  footer {
    font-size: 0.8rem;
  }
}
